:root {
   --primary-color: #0072ff; 
  --primary-color-rgb: 0, 114, 255;
  --secondary-color: #0072ff;
  --secondary-color-rgb: 0, 114, 255;  


  /* --primary-color: #A32020;
  --primary-color-rgb: 163, 32, 32;
  --secondary-color: #0054A6;
  --secondary-color-rgb: 0, 84, 166;  */
}